
/*  Footer  */
footer{
    background: linear-gradient( #cdc4a9, #8c8364 50%, #524d3d);
    border-radius: 20px 20px 0 0 ;
    margin-top: 50px;
    bottom: 0;
    width:100%;
    padding-top: 40px;

}


.container-footer-all{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 40px;
}

.container-footer{ /*container body*/
    display: flex;
    justify-content: space-between;
}

.columnFooter1{
    max-width: 400px;
}

.columnFooter1 h1{
    font-size: 22px;
}

.columnFooter1 p{
    font-size: 14px;
    color: #c7c7c7;
    margin-top: 20px;
}

.columnFooter2{
    max-width: 400px;
}

.columnFooter2 h1{
    font-size: 22px;
}

.row{
    margin-top: 20px;
    display: flex;
    flex-wrap: nowrap;
}

.row img{
    width: 36px;
    height: 36px;
    padding: 0;
    margin: 0;
    margin-left: 0;
}
.row label {
    margin-top: 10px;
    margin-left: 10px;
    color: white;
    font-size: 14px;
    padding: 0;
}

.columnFooter3{
    max-width: 400px;
}

.columnFooter3 h1{
    font-size: 22px;
}

.row2{
    margin-top: 20px;
    display: flex;
}

.row2 img {
    width: 36px;
    height: 36px;
}

.row2 label{
    margin-left: 10px;
    max-width: 170px;
    margin-top: 10px;
    font-size: 14px;
}

.pieDeFooter{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content:space-between;
    padding: 10px;
}

.PapaDePieDeFooter{
    width: 100%;
    margin: auto;
    background:#8c8364 ;
}

.copyright{
    color: black;
    font-size: 14px;
}

.copyright a{
    text-decoration: none;
    color:white;
    font-weight: bold;
    font-size: 14px;
}

.information a{
    text-decoration: none;
    color: black;
    font-size: 14px;
    text-align: center;
    justify-content:center;
    margin: auto;
    margin-right: 0;
}


@media screen and (max-width:1100px){
    .container-footer{ /*container body*/
        flex-wrap: wrap;
    }

    .columnFooter1{
        max-width: 100%;
    }

    .columnFooter2,
    .columnFooter3{
        margin-top: 40px;
    }
    .information{
        position: relative;
        display: flex;
        justify-content: center;
        margin: auto;
        margin-left: 3.5rem;
        margin-right: 0;
        text-align: center;
    }
}
