<!DOCTYPE html>
<html lang="es">
<%- include ('./partials/head.ejs')%>
<body class="body-home">
    <section class="home"></section>
    <%- include ('./partials/header')%>
    <div class="container-slider00">
        <div class="slider11" id="slider">
            <div class="slider__section22" >
                <img src="/images/home/zapatillas deportivas carrusel 4.jpg" alt="" class="slider__img33"></div>
            <div class="slider__section22">
                <img src="/images/home/zapatos de mujer carrusel 1.jpg" alt="" class="slider__img33"></div>
            <div class="slider__section22">
                <img src="/images/home/zapatillas depor hombre 2.jpg" alt="" class="slider__img33"></div>
            <div class="slider__section22">
                <img src="/images/home/zapatos de vestir carrusel 3.jpg" alt="" class="slider__img33"></div>
            </div>
            <div class="slider__btn slider__btn--right"><i class="fas fa-angle-right" id="btn-right"></i></div>
            <div class="slider__btn slider__btn--left"><i class="fas fa-angle-left" id="btn-left"></i></div>
        </div>
        <section class="container-0">
            <article class="contenedoreligeypaga0">
                <div class="eligeypaga1"><i class="fas fa-shoe-prints"></i><h5>Lo mas vendido!</h5><i class="fas fa-shoe-prints"></i></div>    
                </article>
        </section>
    <section class="container-11">
         <a href=""><article class="item card-bg111">
            <img class="imagen111" src="/images/home/zapatillas_hombre_moda_tendencias_2831.jpg" alt="">
            <div class="card-data22">
                <h2>Zapatillas Jordann</h2>
                <p>Las patrocina lit Killah</p>
            </div>
        </article>
        </a>
        <a href=""><article class="item card-bg111">
            <img class="imagen111" src="/images/home/zapatillas-led-1.jpg" alt="">
            <div class="card-data22">
                <h2>Zapatillas Led</h2>
                <p>Luz led</p>
            </div>
        </article>
        </a>
        <a href=""><article class="item card-bg111">
            <img class="imagen111" src="/images/home/Zapatillas-baby-yoda.jpg" alt="">
            <div class="card-data22">
                <h2> Baby Yoda</h2>
                <p>Zapas Yoda</p>
            </div>
        </article>
        </a>
        
    </section>
    <section class="container-3">
        <article class="contenedoreligeypaga">
            <div class="eligeypaga"><h3>ELIGE, PAGA Y RECIBE TU PEDIDO SIN MOVERTE DE TU CASA.</h3></div>
            <div class="eligeypagaiconos">
            <i class="fas fa-cart-plus"></i>
            <i class="fas fa-shopping-bag"></i>
            <i class="fas fa-shipping-fast"></i>
            </div>
            
            </article>
    </section>
    <section class="container-2">
        
        <a href=""><article class="item" >
            <div class="image-container" >
                <a href="productDetail"><img src="/images/home/zapatillas-dakota-verde.jfif" alt=""></a>
            </div>
            <div class="dataCard2">
            <h2>Dakota Deportivas</h2>
            <p>  $50 dolares</p>
            </div>
        </article></a>
        <a href="productDetail"><article class="item" >
            <div class="image-container" >
                <img src="/images/home/zapatillas-dakota-blanca.jfif" alt="">                
            </div>
            <div class="dataCard2">
            <h2>Dakota Deportivas</h2>
            <p>  $50 dolares</p>
            </div>
        </article></a>
        <a href="productDetail"><article class="item" >
            <div class="image-container" >
                <img src="/images/home/zapatillas-dakota-negra.jpg" alt="">                
            </div>
            <div class="dataCard2">
            <h2>Dakota Deportivas</h2>
            <p>  $50 dolares</p>
            </div>
    </section>
</section>
    <%- include ('./partials/footer.ejs')%>
    <%- include ('./partials/scripts.ejs')%>    
</body>
</html>
