<!DOCTYPE html>
<html lang="es">
<%- include ('./partials/head.ejs')%>

    <body>
        <%- include ('./partials/header.ejs')%>
            <!--    Product Cart    -->
            <main class="cart">
                <section class="container_cart">
                    <h1>Carrito</h1>
                    <section class="tablas">
                        <table>
                            <thead>
                                <tr>
                                    <th>Producto</th>
                                    <th></th>
                                    <th>Talle</th>
                                    <th>Color</th>
                                    <th>Cantidad</th>
                                    <th>Subtotal</th>
                                </tr>
                            </thead>
                            <tbody id="cart">
                                <tr>
                                    <td>
                                        <figure>
                                            imagen
                                        </figure>
                                    </td>
                                    <td>Nombre del Producto</td>
                                    <td>Talle</td>
                                    <td>color</td>
                                    <td>
                                        <button>+</button>
                                        <p>cantidad</p>
                                        <button>-</button>
                                    </td>
                                    <td>precio</td>

                                </tr>
                            </tbody>
                            <tfoot id="total">

                            </tfoot>

                        </table>

                    </section>
                    <div class="last-option">
                        <ul>
                            <li><a href="/">Volver</a></li>
                            <li><a class="continue">Continuar</a></li>
                        </ul>
                    </div>


                    <!--Seccion pago-->
                    <form class="pay" action="" method="post">
                        <div class="metodo-pago">
                            <label>
                                <h3> Seleccione metodo de pago</h3>
                                <h2>X</h2>
                            </label>
                            <section class="method">
                                <label for="debito"> Tarjeta de credito/debito<input type="radio" name="card-method"
                                        value="credito/debito" id="card"></label>
                            </section>
                            <section class="method">
                                <label for="efectivo">Efectivo<input type="radio" name="cash-method" value="Efectivo"
                                        id="cash"></label>
                            </section>
                            <section class="method">
                                <label for="escanear">QR <input type="radio" name="scan-method" value="Qr"
                                        id="scan"></label>
                            </section>
                        </div>
                        <hr>
                        <section class="card-pay card">
                            <!--Tarjeta Debito/Credito-->
                            <h2>X</h2>
                            <label for="tarjeta">Numero: </label>
                            <input type="number" name="card" id="tarjeta" required>
                            <label for="code">Codigo de seguridad: </label>
                            <input type="password" name="code" id="code" required>
                            <label for="expire">Fecha de vencimiento: </label>
                            <input type="text" name="vto" id="expire" required>
                        </section>
                        <section class="cash-pay card">
                            <!--Efectivo-->
                            <h3>Seleccione la empresa mas cercana a realizar el pago: </h3>
                            <h2>X</h2>
                            <a href="">Pago Facil</a>
                            <a href="">Rapi Pago</a>
                            <a href="">Mercado Pago</a>
                        </section>
                        <!--Completar con codigo de referencia para confirmar pago!-->
                        <section class="scan-pay card">
                            <!--Codigo QR-->
                            <h3>Por favor escanee el codigo QR para continuar el pago</h3>
                            <h2>X</h2>
                            <img src="" alt="Codigo QR">
                        </section>
                        <div class="boton">
                            <button type="reset">Reinciar</button>
                            <button type="submit">Enviar</button>
                        </div>
                    </form>
                    <!--End seccion de pago -->
                    <div class="banner">
                        <img src="/images/banners/Banner.jpg" alt="Banner  ">
                    </div>
            </main>
            <%- include ('./partials/footer.ejs')%>
                <script src="/javascript/cart.js"></script>
    </body>

</html>