<footer>
    <div class="social-links">
        <p> Acerca de <a href=""> nosotros </a> <i class="fas fa-child"></i></p>
        <p> <a href="/">Home</a><i class="fas fa-home"></i></p>
        <p> <a href="">Contacto</a> <i id="wpp" class="fab fa-whatsapp"></i></p>
        <p> Seguinos <a href="www.facebook.com"><i id=fb class="fab fa-facebook-f"></i></a>
            <a href="www.twitter.com"><i id="tw" class="fab fa-twitter"></i></a>
            <a href="www.instagram.com"><i id="ig" class="fab fa-instagram"></i></a>
        </p>
    </div>
</footer>

