<footer>
<div class="container-footer-all">

    <div class="container-footer"><!-- /*container body*/ -->

        <div class="columnFooter1">
            <h1>Más información sobre la compañia</h1>
            <p>                
                Esta es una compañia dedicada a la venta de 
                calzados. <br> <br>
                La empresa en sus comienzos
                se dedicaba al robo de calzados y los revendía en el pueblo vecino,
                este modelo de negocios se vió tan bien remunerado
                que decidieron globalizarlo. <br><br>
                Hoy por hoy la compañia contrata ladrones de toda la Argentina y
                vende las zapatillas a traves de esta pagina al resto del mundo, a tan solo
                $50 dolares cada par,
                creando así el modelo de negocios más sustentable de la historia.    
            </p>
        </div>

        <div class="columnFooter2">
            <h1>Redes Sociales</h1>
            <div class="row">
                <img src="/images/footer/FacebookLogo.png">
                <label>Siguenos en facebook</label>
            </div>
            <div class="row">
                <img src="/images/footer/TwitterLogo.png">
                <label>Siguenos en Twiter</label>
            </div>
            <div class="row">
                <img src="/images/footer/InstagramLogo.png">
                <label>Siguenos en Instagram</label>
            </div>
            <div class="row">
                <img src="/images/footer/GooglePlusLogo.png">
                <label>Siguenos en Google plus</label>
            </div>
            <div class="row">
                <img src="/images/footer/PinterestLogo.png">
                <label>Siguenos en Pinterest</label>
            </div>
        </div>

        <div class="columnFooter3">
            <h1>Información Contactos</h1>

            <div class="row2">
                <img src="/images/footer/House.png">
                <label>
                    Calle Falsa 123 En Chernobil,
                    casa Stark.
                </label>
            </div>

            <div class="row2">
                <img src="/images/footer/Telephone.png">
                <label>
                    +54 11 428467
                </label>
            </div>

            <div class="row2">
                <img src="/images/footer/Mail.png">
                <label>
                    atuspiesComisión12@gmail.com
                </label>
            </div>
        </div>
    </div>
   
</div>
<div class="PapaDePieDeFooter">
  <div class="pieDeFooter"><!-- /*container footer*/ -->
    <div class="copyright">
        ©2024 Todos los derechos reservados  
        <a href="">Magtimus</a>
    </div>

    <div class="information">
        <a href=""> información compañia |</a><a href=""> Privación y 
        Politica |</a>  <a href=""> Terminos y condiciones </a>
    </div>
  </div>

</div>
</footer>

